body{
  font-family: 'Open Sans';
  font-size: 20px;
}

.blogs{
  font-family:'Source Sans Pro';
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.blog-item {
  margin: 20px;
  text-align: center;
  padding: 20px;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

h4{
  font-family:'Source Sans Pro';

}

.date{
  font-family:'Source Sans Pro';
  font-size: 12px;
}

.header{
  background-color: black;
  font-size: 26px;
  padding: 10px;
  font-display: swap;
  font-style: inherit;
  color: white;
  text-align: center;
}

.footer{
  background-color: black;
  font-size: 12px;
  padding: 5px;
  font-display: swap;
  font-style: inherit;
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
